---
import Link from "@components/interaction/Link.astro";
import Main from "@components/layout/Main.astro";
import PageWrapper from "@components/layout/PageWrapper.astro";
import PageTitle from "@components/typography/PageTitle.astro";
import Layout from "@layouts/Layout.astro";
import { getLocale, getAvailableLocalizations } from "@utils/i18n/main";
import { translations } from "@utils/i18n/translations";
import { LOCALES, type Locale } from "@validation/i18n";

const locale = getLocale(Astro.currentLocale);
const availableLocalizations = getAvailableLocalizations(locale, "/about");
---

<Layout title={translations[locale].route['/about']} availableLocalizations={availableLocalizations}>
  <PageWrapper>
    <PageTitle>{translations[locale].route['/about']}</PageTitle>
    <Main>
      <div class="prose prose-lg prose-slate dark:prose-invert">
        <p>{translations[locale].meta.about1}</p>
        <p>{translations[locale].meta.about2}</p>
        <p>
          {translations[locale].meta.contact}{' '}
          <Link href="mailto:hey@laborforzion.com">hey@laborforzion.com</Link>.
        </p>
      </div>
    </Main>
  </PageWrapper>
</Layout>
