---
import ArticleCard from "@components/ArticleCard.astro";
import RSSLink from "@components/interaction/RSSLink.astro";
import Main from "@components/layout/Main.astro";
import PageWrapper from "@components/layout/PageWrapper.astro";
import PageTitle from "@components/typography/PageTitle.astro";
import Layout from "@layouts/Layout.astro";
import { getLocale, getAvailableLocalizations } from "@utils/i18n/main";
import { translations } from "@utils/i18n/translations";
import type { PostListing } from "@utils/md/readAndParse";

const locale = getLocale(Astro.currentLocale);
const availableLocalizations = getAvailableLocalizations(locale, "/notes");

export interface Props {
	posts: PostListing[];
}

const { posts } = Astro.props;
---

<Layout title={translations[locale].route['/notes']} availableLocalizations={availableLocalizations}>
  <PageWrapper>
    <PageTitle>{translations[locale].route['/notes']}</PageTitle>
    <Main>
      <div class="max-w-4xl w-full">
        <RSSLink>{translations[locale].ui.rss}</RSSLink>
      </div>

      <div class="flex flex-col gap-4 mt-4">
        {posts.map((post) => <ArticleCard post={post} />)}
      </div>
    </Main>
  </PageWrapper>
</Layout>
