---
import { getRelativeLocaleUrl } from "astro:i18n";
import HoverUnderline from "@components/interaction/HoverUnderline.astro";
import MainWrapper from "@components/layout/Main.astro";
import PageTitle from "@components/typography/PageTitle.astro";
import Layout from "@layouts/Layout.astro";
import { getAvailableLocalizations, getLocale } from "@utils/i18n/main";
import { translations } from "@utils/i18n/translations";
import { getNoteTopics } from "@utils/md/readAndParse";

const locale = getLocale(Astro.currentLocale);
const availableLocalizations = getAvailableLocalizations(locale, "/topics");

const { slugToTopic } = await getNoteTopics(locale);
const topics = Object.entries(slugToTopic);
---

<Layout title={translations[locale].route['/topics']} availableLocalizations={availableLocalizations}>
  <div class="flex flex-col items-center flex-grow mb-10">
    <PageTitle>{translations[locale].route['/topics']}</PageTitle>
    <MainWrapper>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        {
          topics.map(([slug, topic]) => (
            <HoverUnderline>
              <a href={getRelativeLocaleUrl(locale, `/topics/${slug}`)}>
                {topic}
              </a>
            </HoverUnderline>
          ))
        }
      </div>
    </MainWrapper>
  </div>
</Layout>
