<h3
  class:list={[
    'font-black text-lg group-hover:underline',
    'group-hover:text-emerald-500 decoration-emerald-500 text-emerald-700',
    'dark:group-hover:text-emerald-300 dark:decoration-emerald-300 dark:text-emerald-400',
  ]}
>
  <slot />
</h3>
