---
import type { Backlink } from "@utils/md/readAndParse";
import Link from "../interaction/Link.astro";
import HoverUnderline from "../interaction/HoverUnderline.astro";
import { getLocale } from "@utils/i18n/main";
import { translations } from "@utils/i18n/translations";

interface Props {
  backlinks: Backlink[];
}

const { backlinks } = Astro.props;

const locale = getLocale(Astro.currentLocale);
---

<div>
  <h3 class="font-(--heading-font) font-bold text-lg">
    {translations[locale].ui.backlinks}
  </h3>
  <ul class="flex flex-col gap-2 px-4 py-2">
    {
      backlinks.map(({ title, slug, excerpt }) => (
        <li class="list-disc">
          <article>
            <HoverUnderline>
              <Link href={`/notes/${slug}`}>
                <span>
                  <span class="font-semibold">{title}: </span>
                  {excerpt ? `"...${excerpt}..."` : ""}
                </span>
              </Link>
            </HoverUnderline>
          </article>
        </li>
      ))
    }
  </ul>
</div>
