---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout title="About">
  <main
    class="container mx-auto flex flex-col items-center min-h-fit p-4 flex-grow gap-4"
  >
    <h1
      class="text-5xl text-center leading-normal font-extrabold text-slate-700"
    >
      About
    </h1>
    <div
      class="prose prose-lg prose-slate dark:prose-invert text-center md:text-left"
    >
      <p>
        This site is maintained by me, Karey Higuera. I'm a software developer
        based out of Indianapolis, Indiana. I'm a member of the Church of Jesus
        Christ of Latter-Day Saints.
      </p>
      <p>
        I served a mission for the church from April 2015 - April 2017 in the
        Argentina Resistencia mission. I have a wife and young daughter, and I
        spend most of my time working, reading, gaming, and spending time with
        my family.
      </p>
      <p>
        If you'd like to get in touch, feel free to reach out at{" "}
        <Link href="mailto:karey.higuera@gmail.com"
          >karey.higuera@gmail.com</Link
        >
      </p>
    </div>
  </main>
</Layout>
