---
import Layout from '../layouts/Layout.astro';


---

<Layout title="Labor for Zion">
  <main class="container mx-auto flex flex-col items-center p-4 flex-grow">
    <h1
      class="text-5xl md:text-[5rem] leading-normal font-extrabold text-slate-700"
    >
      Labor For Zion
    </h1>
    <p>
      A collection of notes, talks, and tools centered around gospel topics.
    </p>
  </main>
</Layout>
