---
import type { PostListing } from '@utils/mdUtils';
import Description from './typography/Description.astro';
import H3 from './typography/H3.astro';
import SupportText from './typography/SupportText.astro';

export interface Props {
  post: PostListing;
}

const { post } = Astro.props;
---

<a href={`/notes/${post.slug}`} class="group w-full">
  <article class="flex flex-col">
    <div>
      <H3>{post.frontmatter.title}</H3>
      <Description>{post.frontmatter.description}</Description>
    </div>
    <SupportText>
      <time datetime={post.frontmatter.date.toISOString()}>
      {
        post.frontmatter.date.toLocaleDateString('en-US', {
          dateStyle: 'medium',
        })
      }
      </time>
    </SupportText>
  </article>
</a>
