<footer
  class="text-slate-700 w-full border border-emerald-500 pt-5 pb-10 text-center"
>
  <div class="flex flex-col max-w-lg mx-auto gap-5">
    <blockquote
      class="text-sm"
      cite="https://www.churchofjesuschrist.org/study/scriptures/bofm/2-ne/26?&id=31#31"
    >
      <p class="mb-0 italic">
        "But the laborer in Zion shall labor for Zion;<br />for if they labor
        for money they shall perish."
      </p>
      <footer class="font-bold text-slate-500">
        <a
          href="https://www.churchofjesuschrist.org/study/scriptures/bofm/2-ne/26?&id=31#31"
          target="_blank"
          rel="noreferrer"
          >2 Nephi 26:31</a>
      </footer>
    </blockquote>
    <p>© Karey Higuera {new Date().getFullYear()}</p>
  </div>
</footer>
