---
import HoverUnderline from './HoverUnderline.astro';
import Logo from './Logo.astro';
import Link from './Link.astro';
---

<div class="flex justify-between py-4 px-8 items-center max-w-6xl mx-auto mt-8 mb-5 w-full">
  <Link href="/">
    <div class:list={['text-6xl cursor-pointer select-none flex items-center gap-3']}>
      <Logo className="h-12 w-12 bg-emerald-900 rounded-full" />
      <span class="sr-only">Home</span>
    </div>
  </Link>
  <!-- large menu -->
  <nav class="hidden sm:block text-slate-700 dark:text-slate-300 text-lg">
    <ul class="flex list-none gap-6">
      <li>
        <HoverUnderline>
          <Link href="/">Home</Link>
        </HoverUnderline>
      </li>
      <li>
        <HoverUnderline>
          <Link href="/notes">Notes</Link>
        </HoverUnderline>
      </li>
      <li>
        <HoverUnderline>
          <Link href="/projects">Projects</Link>
        </HoverUnderline>
      </li>
      <li>
        <HoverUnderline>
          <Link href="/about">About</Link>
        </HoverUnderline>
      </li>
    </ul>
  </nav>

  <!-- mobile menu -->
  <div class="sm:hidden block">
    <details class:list={[
      'flex items-center px-3 py-2 rounded',
      'text-slate-700 hover:text-slate-900 border border-slate-700 hover:border-slate-900',
      'dark:text-slate-300 dark:hover:text-slate-100 border dark:border-slate-300 dark:hover:border-slate-100',
      'select-none'
    ]}>
      <summary>Menu</summary>
      <nav class:list={[
        'absolute w-48 right-8 mt-4 z-[1]',
        'text-slate-700 border border-slate-700 list-none text-lg bg-white',
        'dark:text-slate-300 border dark:border-slate-300 list-none text-lg dark:bg-slate-800',
      ]}>
        <ul class="flex flex-col items-center gap-2 pt-2 text-center">
          <li class="w-full h-10 flex items-center justify-center relative">
              <Link className="absolute inset-0" href="/">Home</Link>
          </li>
          <li class="w-full h-10 flex items-center justify-center relative">
              <Link className="absolute inset-0" href="/notes">Notes</Link>
          </li>
          <li class="w-full h-10 flex items-center justify-center relative">
              <Link className="absolute inset-0" href="/projects">Projects</Link>
          </li>
          <li class="w-full h-10 flex items-center justify-center relative">
              <Link className="absolute inset-0" href="/about">About</Link>
          </li>
        </ul>
      </nav>
    </details>
  </div>
</div>
