---
import ArticleCard from '../../components/ArticleCard.astro';
import Grid from '../../components/Grid.astro';
import MainWrapper from '../../components/MainWrapper.astro';
import PageTitle from '../../components/PageTitle.astro';
import Layout from '../../layouts/Layout.astro';
import Link from '../../components/Link.astro';
---

<Layout title="Projects">
  <div class="flex flex-col items-center flex-grow mb-10">
    <PageTitle title="Projects" />
    <MainWrapper>
      <Grid>
        <Link href="/projects/obsidian-scripture-vault">
          <article class="text-balance flex flex-col">
            <div>
              <h3
                class="group-hover:text-emerald-500 font-semibold text-lg decoration-emerald-500 group-hover:underline text-emerald-700"
              >
                LDS scriptures Obsidian vault
              </h3>
              <p class="text-slate-700 text-md group-hover:text-slate-500">
                Take notes on the scriptures using Obsidian, a note-taking tool
                that will help you connect ideas and think more deeply about the
                scriptures.
              </p>
            </div>
          </article>
        </Link>

        <Link href="https://scripture.page">
          <article class="text-balance flex flex-col">
            <div>
              <h3
                class="group-hover:text-emerald-500 font-semibold text-lg decoration-emerald-500 group-hover:underline text-emerald-700"
              >
                Scriptly
              </h3>
              <p class="text-slate-700 text-md group-hover:text-slate-500">
                Style your patriarchal blessing to look like a page right out of
                the scriptures.
              </p>
            </div>
          </article>
        </Link>
      </Grid>
    </MainWrapper>
  </div>
</Layout>
