---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Projects">
  <div class="flex flex-col items-center flex-grow mb-10">
    <div class="max-w-5xl w-full px-8">
      <h1 class="text-5xl text-slate-800 font-extrabold font-sans">Projects</h1>
    </div>
    <main class="flex flex-col items-center mt-8 flex-grow max-w-5xl">
      <div class="max-w-4xl sm:mx-20 mx-8 grid grid-cols-2 gap-8">
        <a href="https://scripture.page">
          <article
            class:list={[
              'rounded-sm border border-emerald-100 shadow-sm shadow-emerald-800',
              'relative px-6 py-5 flex flex-col h-full justify-between space-y-5',
              'hover:border-emerald-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-emerald-500',
              'cursor-pointer select-none',
            ]}
          >
            <div>
              <h2 class="text-slate-700 font-semibold text-lg">Scriptly</h2>
              <p class="text-slate-700 text-md">
                Style your patriarchal blessing to look like a page right out of
                the scriptures.
              </p>
            </div>
          </article>
        </a>
        <a href="/projects/obsidian-scripture-vault">
          <article
            class:list={[
              'rounded-sm border border-emerald-100 shadow-sm shadow-emerald-800',
              'relative px-6 py-5 flex flex-col justify-between space-y-3',
              'hover:border-emerald-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-emerald-500',
              'cursor-pointer select-none',
            ]}
          >
            <div>
              <h2 class="text-slate-700 font-semibold text-lg">
                LDS scriptures Obsidian vault
              </h2>
              <p class="text-slate-700 text-md">
                Take notes on the scriptures using Obsidian, a note-taking tool
                that will help you connect ideas and think more deeply about the
                scriptures.
              </p>
            </div>
          </article>
        </a>
      </div>
    </main>
  </div>
</Layout>
