---
import Main from '@components/layout/Main.astro';
import PageTitle from '@components/typography/PageTitle.astro';
import Layout from '@layouts/Layout.astro';
import Link from '@components/interaction/Link.astro';
import { getLocale } from '@utils/i18n/main';
import { translations } from '@utils/i18n/translations';
import PageWrapper from '@components/layout/PageWrapper.astro';
import Grid from '@components/layout/Grid.astro';
import H3 from '@components/typography/H3.astro';
import Description from '@components/typography/Description.astro';
import type { Project } from '@utils/i18n/projects';

const locale = getLocale(Astro.currentLocale);

type ProjectListing = {
  // Link to project
  href: string;
  // Slug used for translations
  name: Project;
};

const projects: ProjectListing[] = [
  {
    href: '/projects/obsidian-scripture-vault',
    name: 'vault',
  },
  {
    href: 'https://scripture.page',
    name: 'scriptly',
  },
];
---

<Layout title="Projects">
  <PageWrapper>
    <PageTitle title="Projects" />
    <Main>
      <Grid>
        {
          projects.map(({ href, name }) => (
            <Link href={href}>
              <article class="text-balance flex flex-col">
                <div>
                  <H3>{translations[locale].project[name].title}</H3>
                  <Description>
                    {translations[locale].project[name].description}
                  </Description>
                </div>
              </article>
            </Link>
          ))
        }
      </Grid>
    </Main>
  </PageWrapper>
</Layout>
