---
import MainWrapper from "../../components/MainWrapper.astro";
import PageTitle from "../../components/PageTitle.astro";
import Layout from "../../layouts/Layout.astro";
import Link from "../../components/Link.astro";
import { getLocale } from "@utils/i18n/main";
import { translations } from "@utils/i18n/translations";

const locale = getLocale(Astro.currentLocale);
---

<Layout title="Projects">
  <div class="flex flex-col items-center flex-grow mb-10">
    <PageTitle title="Projects" />
    <MainWrapper>
      <div class="max-w-4xl sm:mx-20 mx-8 grid sm:grid-cols-2 gap-8">
        <Link href="/projects/obsidian-scripture-vault">
          <article class="text-balance flex flex-col">
            <div>
              <h3
                class="group-hover:text-emerald-500 font-semibold text-lg decoration-emerald-500 group-hover:underline text-emerald-700"
              >
                {translations[locale].project.vault.title}
              </h3>
              <p class="text-slate-700 text-md group-hover:text-slate-500">
                {translations[locale].project.vault.description}
              </p>
            </div>
          </article>
        </Link>

        <Link href="https://scripture.page">
          <article class="text-balance flex flex-col">
            <div>
              <h3
                class="group-hover:text-emerald-500 font-semibold text-lg decoration-emerald-500 group-hover:underline text-emerald-700"
              >
                {translations[locale].project.scriptly.title}
              </h3>
              <p class="text-slate-700 text-md group-hover:text-slate-500">
                {translations[locale].project.scriptly.description}
              </p>
            </div>
          </article>
        </Link>
      </div>
    </MainWrapper>
  </div>
</Layout>
