---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Obsidian scripture vault">
  <div class="flex flex-col items-center flex-grow mb-10">
    <main class="flex-grow max-w-3xl mx-auto">
      <article>
        <div class="max-w-5xl w-full px-8 mb-4">
          <h1 class="text-5xl text-slate-800 font-extrabold">
            Obsidian Scripture vault
          </h1>
        </div>

        <div
          class="prose prose-lg prose-slate dark:prose-invert min-w-full px-4 prose-hr:border-emerald-800"
        >
          <p>
            The LDS Scriptures Obsidian vault is a collection of the scriptures
            in Markdown format set up and ready to use in the notetaking app <a
              href="https://obsidian.md"
              target="_blank"
              referrerpolicy="no-referrer"
              >Obsidian</a
            >.
          </p>

          <p>
            Download the vault <a
              download
              href="/projects/lds-scriptures-obsidian-vault-1.0.0.zip"
              >here</a
            >!
          </p>

          <h2>Setup instructions</h2>
          <p>Follow these instructions to set up the vault:</p>
          <ol>
            <li>Download the vault from the link above.</li>
            <li>Unzip the folder.</li>
            <li>
              Open Obsidian and click the "Open folder as vault" button on the
              right-hand side.
            </li>
            <li>Select the folder you just unzipped and click "Open".</li>
            <li>
              Wait while Obsidian indexes all of the files (it can take a couple
              of minutes!). This will only happen this first time.
            </li>
            <li>Jump into notetaking!</li>
          </ol>

          <p>
            Check out this video to learn how to create clusters, or scripture
            excerpts, using a neat feature that I've added.
          </p>

          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/MVs1MFoKZLY"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </article>
    </main>
  </div>
</Layout>
