---
interface Props {
	href: string;
	target?: "_blank" | "_self" | "_parent" | "_top";
	rel?: string;
	className?: string;
}

const { href, target, rel, className } = Astro.props;
---

<a
  {href}
  {target}
  {rel}
  class:list={[
    "flex items-center gap-2",
    "focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-emerald-500",
    "active:underline active:font-bold decoration-emerald-500 dark:decoration-emerald-300 decoration-0 active:decoration-2",
    className,
  ]}
>
  <slot />
</a>
