---
import {ViewTransitions} from 'astro:transitions';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import HitCounterWebComponent from '../components/HitCounter/HitCounterWebComponent.astro';

export interface Props {
  title: string;
  description?: string;
}

const {title, description} = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="h-full"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="description"
      content={description ??
        'A collection of notes, talks, and tools centered around gospel topics.'}
    />
    <link
      rel="icon"
      href="/favicon.ico"
    />
    <title>
      {
        title === 'Labor for Zion'
          ? 'Labor for Zion'
          : `${title} | Labor For Zion`
      }
    </title>
    <ViewTransitions />
  </head>
  <body
    class="h-full flex flex-col items-center selection:bg-emerald-900 selection:text-emerald-50 scroll-smooth"
  >
    <Header />
    <slot />
    <Footer />
    <style is:global>
      @font-face {
        font-family: 'Atkinson Hyperlegible';
        src: url('/fonts/AtkinsonRegular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Atkinson Hyperlegible';
        src: url('/fonts/AtkinsonBold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Atkinson Hyperlegible';
        src: url('/fonts/AtkinsonItalic.woff2') format('woff2');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
      }
      @font-face {
        font-family: 'Atkinson Hyperlegible';
        src: url('/fonts/AtkinsonBoldItalic.woff2') format('woff2');
        font-weight: bold;
        font-style: italic;
        font-display: swap;
      }

      @font-face {
        font-family: 'Munken Sans';
        src: url('/fonts/MunkenSansRegular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Munken Sans';
        src: url('/fonts/MunkenSansBold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }

      /* https://developer.mozilla.org/en-US/docs/Web/CSS/::target-text */
      ::target-text {
        @apply bg-emerald-900 text-emerald-50;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: 'Munken Sans', 'Lucida Sans', 'Lucida Sans Regular',
          'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      p {
        font-family: 'Atkinson Hyperlegible', Georgia, 'Times New Roman', Times,
          serif;
      }
    </style>
    <HitCounterWebComponent />
  </body>
</html>
